{% extends "base.html" %}

{% block content %}
    <div>
        <h3>42 Coffee Cups Test Assignment</h3>

        <br>
        <div class="left">
            <div>{{ person.name }}</div>
            <div>{{ person.surname }}</div>
            <div>{{ person.bithdate }}</div>
            <br>
            {% if person.bio %}
                <div>Bio: {{ person.bio }}</div>
            {% endif %}
        </div>

        <div class="right">
            <div>Contacts</div>
            <div>Email: {{ person.email }}</div>
            <div>Jabber: {{ person.jabber }}</div>
            <div>Skype: {{ person.skype }}</div>
            <br>
            {% if person.other_contacts %}
                <div>Other contacts: {{ person.other_contacts }}</div>
            {% endif %}
        </div>
        </div>

        <div style="clear:both;">
        <hr>

        <a href="{% url request_list %}">requests</a>
    </div>
{% endblock %}
