body {
    background-color: rgb(238, 238, 238);
}

.main {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 1070px;
    position: absolute;
    left: 152px;
    font-family: Georgia,serif;
    font-size: 14px;
    color: rgb(72, 72, 72);
}

h3{
    padding-left: 25px;
    font-size: 22px;
    font-weight: normal;
}

.left {
    left: 25px;
    position: relative;
    float: left;
}

.right {
    left: -180px;
    position: relative;
    float: right;
}

.left div {
    padding-top: 10px;
}

.right div {
    padding-top: 10px;
}

table {
    padding-left: 25px;
}