body {
    background-color: rgb(238, 238, 238);
}

.main {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 1070px;
    position: absolute;
    left: 152px;
    font-family: Georgia,serif;
    font-size: 14px;
    color: rgb(72, 72, 72);
}

h3{
    padding-left: 25px;
    font-size: 22px;
    font-weight: normal;
    display: inline-block;
}

.left {
    left: 25px;
    position: relative;
    float: left;
}

.right {
    left: -180px;
    position: relative;
    float: right;
}

.left div {
    padding-top: 10px;
}

.right div {
    padding-top: 10px;
}

table {
    padding-left: 25px;
}

label.field {
    text-align: right;
    width: 110px;
    float: left;
}

.edit_form p input{
    background-color: rgb(245, 240, 245);
    width: 200px;
    height: 16px;
}

.edit_form textarea{
    background-color: rgb(245, 240, 245);
}

.nav {
    float: right;
    margin: 25px;
}

.photo_input {
    width: 200px;
}

.photo_input p input{
    height: 24px;
}